@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-transform:capitalize;
    font-family: 'Roboto', sans-serif;
}
body {
    font-family: Arial, sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e8dfdc;
} 
.atm {
    background-color: #f1ca2c;
    width: 700px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.left-box{
    position: absolute;
    width: 450px;
    height: 400px;
    background-color: #e0da2a;
    border-radius: 10px 0px 0px 10px;
}
.left-box h1{
    margin-top: 50px;
    text-align: center;
    font-size: 2.5rem;
    color: #414906;
    font-weight: 900;
    letter-spacing: 3px;
}
.left-box p{
    text-align: center;
    line-height: 50px;
    font-size: 1.3rem;
    color: #a0a3a4;
    font-weight: 900;
    letter-spacing: 3px;
}
.left-box label{
    text-align: center;
    display: grid;
    place-content: center;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 20px 0px;
}
.left-box input{
    width: 450px;
    text-align: center;
    min-height: 3vh;
    font-size: 1rem;
    margin: 20px 0px;
}
.content .right-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.right-box button{
    height: 50px;
    width: 150px;
    padding: 10px;
    background-color: #776a13;
    border: 0;
    outline: none;
    font-size: medium;
    font-weight: 900;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 60px;
    margin-left: 450px;
}
.message{
    position: absolute;
    width: 450px;
    background-color: #555c08;
    border-radius: 0px 0px 0px 10px;
}
.message p{
    text-align: center;
    font-size: 1.3rem;
    color: #ecf0f1;
    font-weight: 900;
    margin: 20px 0px;
}


  