@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-transform:capitalize;
    font-family: 'Roboto', sans-serif;
}
body{
    display: grid;
    place-content: center;
    min-height: 100vh;
}
.container{
    background-color: #3d0553;
    width: 700px;
    height: 400px;
    box-shadow: 0px 10px 10px 10px #000;
    border-radius: 10px;
}
.left-box{
    position: absolute;
    width: 250px;
    height: 400px;
    background-color: #5f51b0;
    border-radius: 10px 0px 0px 10px;

}
.left-box h1{ 
    margin-top: 50px;
    text-align: center;
    font-size: 2.5rem;
    color: #ecf0f1;
    font-weight: 900;
    letter-spacing: 3px;
}
.p-g-t{
    text-align: center;
    display: grid;
    place-content: center;
    min-height: 30vh;
}
.p-g-t h2{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 20px 0px;
}
.content .right-box{
    display: flex;
    flex-direction: column;
    margin-left: 425px;
    margin-top: 40px;
}
.right-box input{
    margin: 10px 0px;
    width: 300px;
    height: 30px;
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 30px;
    font-size: 0.9rem;
    margin-left: -90px;
}
.right-box button{
    height: 40px;
    width: 150px;
    margin-top: 15px;
    padding: 0px 10px;
    background-color: #7747c4;
    border: 0;
    outline: none;
    font-size: medium;
    font-weight: 900;
    border-radius: 30px;
    cursor: pointer;
    margin-left: -17px;
}

.result{
    position: absolute;
    width: 250px;
    background-color: #9897c1;
    border-radius: 0px 0px 0px 10px;
    height: 60px;
}
.result h2{
    text-align: center;
    line-height: 50px;
    font-size: 1.3rem;
    color: #ecf0f1;
    font-weight: 900;
    letter-spacing: 3px;
}